<!DOCTYPE html>
<html>
<head>
	<title>Wallbook</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<link href='http://fonts.googleapis.com/css?family=Bitter:400,700|Montserrat:400,700|Lato:400,700' rel='stylesheet' type='text/css'>

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css'>
	<link rel="stylesheet" href="/stylesheets/viewbook.css">
	<script src="/javascripts/viewbook.js"></script>
	
</head>

<body>
	<header>
		<img src="/images/logo.png">
	 	<h1 class="logo">BookTaster</h1>
	</header>
	