<!DOCTYPE html>
<html>
<head>
	<title>Wallbook</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter:400,700|Montserrat:400,700|Lato:400,700' rel='stylesheet' type='text/css'>

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css'>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>

	<header>
		<div class="container">
			<h1 class="logo">BookTaster</h1>
			<div id="menubar"><a href="/Signup"> Customer Sign Up</a></div>
		</div>
	</header>

	<section id="big">
		<div class="container">
			<h2>BookTaster</h2>
			<p class="strap">What type and format of ebooks do readers need at the moment?</p>
			<a class="learnmore" href="#">Learn more</a>

		</div>
	</section>

	<section id="content">
		<div class="container">
			<p class="biginfo">WallBook is brings readers,authors and publishers together in order to give better service to one another. It also helps to provide real-time information about what books in what format a user wants at the moment. This enables both the authors and publishers to provide what books that readers need and  are ready to purchase..</p>
			<h1> Our Services</h1>
			<li>Mobile book Store</li>
			<li> Physical E-library</li>
			<li> Book launch and awareness</li>
			<li> Reduction of shelf space in libraries</li>
		</div>
	</section>
</body>

</html>