<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id ="banner"> Logo and Banner goes here</div>
	<hr>
	<div id="menubar"><a href="createbarcode.js"> Create and Upload QR-Coded Cover</a></div>
	<hr>
	<h1><%= title %></h1>
	<div id ="maincontent">
		<div id="business">
		<p>Welcome to <%= title %></p>
		WallBook is a physical digital library that helps to bring readers closer to their books, authors and book providers. It also helps to reduce space taken by bookshelves as well as increase access to book collections in the electronic format.
		<h1> Our Services</h1>
			<li>Mobile book Store</li>
			<li> Physical E-library</li>
			<li> Book launch and awareness</li>
			<li> Reduction of shelf space in libraries</li>

		</div>
		<div id="customers">
		<fieldset><legend>Customer Sign-in</legend>

		</fieldset><hr/>
		<fieldset><legend>Customer Sign Up</legend>

		</fieldset><hr/>

		</div>
	</div>
  </body>
</html>
