<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id ="banner"> Logo and Banner goes here</div>
	<hr>
	<div id="menubar"><a href="createbarcode.js"> Create and Upload QR-Coded Cover</a></div>
	<hr>
	<h1><%= title %></h1>
	<div id ="maincontent">
		
		<div id="customers">
		<fieldset><legend>Customer Sign-in</legend>
			<form action="" method="POST">
				<table>
					<tr><td> Email</td> <td> <input type="text" name="email"></td></tr>

				</table>
			</form>

		</fieldset><hr/>

		<fieldset><legend>Customer Sign Up</legend>
			<form action="" method="POST">
				<table>
					<tr><td> Contact Person</td> <td> <input type="text" name="contactperson"/></tr>
					<tr><td> Email</td> <td> <input type="text" name="email"/></td></tr>
					<tr><td> Password</td> <td> <input type="password" name="password"/></td></tr>
					<tr><td>Confirm Password</td> <td> <input type="password" name="cpassword"/></td></tr>
					<tr><td> Organisation</td> <td> <input type="text" name="organisation" placeholder="Name of the Company"/></tr>
					<tr><td>Comments</td> <td> <textarea></textarea></tr>
					<tr><td><input type="submit" value="Register"></td> <td><input type="reset"></td></tr>


				</table>
			</form>

		</fieldset><hr/>

		</div>
	</div>
  </body>
</html>
