<!DOCTYPE html>
<html>
<head>
	<title>Wallbook</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter:400,700|Montserrat:400,700|Lato:400,700' rel='stylesheet' type='text/css'>

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<link rel='stylesheet' href='/stylesheets/style.css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>

	<header>
		<div class="container">
			<h1 class="logo">Wallbook</h1>
		</div>
	</header>

	<section id="big">
		<div class="container">
			<h2>Wallbook</h2>
			<p class="strap">Browse your ebooks<br>in physical space</p>
			<a class="learnmore" href="#">Learn more</a>
		</div>
	</section>

	<section id="content">
		<div class="container">
			<p class="biginfo">WallBook is a physical digital library that helps to bring readers closer to their books, authors and book providers. It also helps to reduce space taken by bookshelves as well as increase access to book collections in the electronic format.</p>
		</div>
	</section>
</body>

</html>