header{
	text-align: center;
}
header h1{
	text-align: center;
	font-size: 40px;
	color: #000;
}
header img{
	width: 120px;
}

section{
	padding: 40px 0;
	text-align: center;
}

section#viewbooksample{
	background: url(../images/bookshelf-dark.png);
	background-size: 100%;
}

	section#viewbooksample h3{
		color: #fff;
		margin: 0;
		margin-bottom: 20px;
	}

section#ratebook{
	background: white;
}

#review{
	max-width: 600px;
	margin: 0 auto;
	text-align: left;
}

section#booksample{
	font-size: 18px;
	font-family: 'Bitter', serif;
	padding: 30px;
	background: #eee;
}

.rating{
	margin-bottom: 20px;
}

p.form-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
}

.radio-buttons{
	margin-bottom: 20px;
	max-width: 250px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.radio-buttons .radio-label{
	text-align: left;
	color: #fff;
	font-family: 'Bitter', serif;
	font-weight: 400 !important;
	font-size: 15px;
}

.radio-buttons .row{
	background: #3d2d4a;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 10px;
}

button#review-submit{
	display: block;
	margin: 0 auto;
}

#whynot{
	max-width: 500px;
	margin: 0 auto;
}
	#whynot textarea{
		margin-bottom: 20px;
	}

.buy-buttons{
	margin-bottom: 20px;
	width: 250px;
	margin: 0 auto;
	margin-bottom: 20px;
}
	.buy-buttons a{
		/*margin: 0 auto;*/
		display: block;
		margin-bottom: 10px;
	}